<!-- This file is part of cooking.

cooking is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with cooking.  If not, see <http://www.gnu.org/licenses/>
-->

{{define "Thead"}}
<head>
  <title>page test avec template {{.Title}}</title>
  <meta charset="utf-8">
</head>
{{end}}

{{define "Tfooter"}}
<footer>
{{.FooterText}}
</footer>
{{end}}
